<html>
  <head>
    <title>A Blog</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssbase/base-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssfonts/fonts-min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css"/>
    <link rel="alternate" type="application/rss+xml" href="/feed.xml"/>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a id="listing" href="/posts/">all posts</a>
        <a href="/">A Blog</a>
      </div>
