<html>
  <head>
    <title>$if(extraTitle)$$extraTitle$ - $endif$$title$</title>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssreset/reset-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssbase/base-min.css">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.2.0/build/cssfonts/fonts-min.css">
    <link rel="stylesheet" type="text/css" href="$baseUrl$/stylesheets/stylesheet.css"/>
    <link rel="alternate" type="application/rss+xml" href="$baseUrl$/feed.xml"/>
    <script type="text/javascript" src="$baseUrl$/MathJax/MathJax.js">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          element: null,
          inlineMath: [['\$','\$'],["\\\\(","\\\\)"]],
          displayMath: [['\$\$','\$\$'],["\\\\[","\\\\]"]],
          processEscapes: true,
          skipTags: ["script","noscript","style","textarea","pre","code"],
          preview: "none",
          showProcessingMessages: false,
          messageStyle: "none",
        },
      });
    </script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <a id="listing" href="$baseUrl$/posts/">all posts</a>
        <a href="$baseUrl$">$title$</a>
      </div>
      $content$
      <div id="footer">
        Copyright &copy; 2010 $authorName$
      </div>
    </div>
  </body>
</html>
