<div id="prev-next-links">
  $if(prev_post_url)$
    <a class="prev-link" href="$prev_post_url$">older &raquo;</a>
  $else$
    <a class="prev-link-subdued">older &raquo;</a>
  $endif$
  $if(next_post_url)$
    <a class="next-link" href="$next_post_url$">&laquo; newer</a>
  $else$
    <a class="next-link-subdued">&laquo; newer</a>
  $endif$
</div>

<div style="display: none;">
\\(
$post.tex_macros$
\\)
</div>

<div id="post">
  <h1>$post.title$</h1>
  <span class="post-created">Posted $post.date$ by $post_authors; separator=", "$</span>
$post_html$
</div>
